// Topic Specific Styles
.topics-container
  .topics
    #back-end .topic-full
      .projects-list
        button
          margin: 10px
          font-size: 1em
          padding: 10px
          min-width: 40px
          border-radius: 5px

    #front-end .topic-full
      align-items: center
      flex-direction: column
      .site-images
        a
          display: flex
          justify-content: center
          img
            width: 80%
            height: 100%

    #dev-ops .topic-full
      .projects-list
        button
          margin: 10px
          font-size: 1em
          padding: 10px
          min-width: 40px
          border-radius: 5px

    #hardware .topic-full
      width: 100%
      .hardware-info
        text-align: center
        margin: auto
        button
          margin: 10px
          font-size: 1em
          padding: 10px
          min-width: 40px
          border-radius: 5px

      .hardware-img
        float: right
        img
          max-height: 80vh
          max-width: 60vw

    #video .topic-full
      text-align: center
      &.topic-expanded
        display: flex
        align-items: center

    #audio .topic-full
      text-align: center
      &.topic-expanded
        display: flex
        align-items: center
      .audio-info
        width: 60%
        h1
          margin-top: 0px

      .archives
        display: flex
        flex-direction: column
        align-items: center
        width: 40%
        min-width: 320px
        button
          margin: 20px
          font-size: 2em
          padding: 20px
          min-width: 40px
          border-radius: 10px

        .archive-player
          padding: 10px 20px
          width: 100%
          color: #000
          border: 2px #000
          border-radius: 10px
          background: rgba(255,255,255,0.8)
          h3
            margin: 5px


    #_3d .topic-full
      &.topic-expanded
        display: flex
        align-items: center
      .slider-wrapper
        width: 625px
        height: 652px
        overflow-y: hidden
        li
          display: flex
          align-items: center
          iframe
            width: 625px
            height: 652px
        .flexslider
          margin: 0px
      .info-3d
        text-align: center
        width: calc(100% - 400px)
        button
          font-size: 2em
          padding: 20px
          min-width: 40px
          border-radius: 10px

    #photo .topic-full
      text-align: center
      &.topic-expanded
        display: flex
        align-items: center

    // responsive styles
    @media (max-width: 2000px)
      #_3d .topic-full .slider-wrapper
        width: 400px
        height: 468px
        li iframe
          width: 400px
          height: 468px

    @media (max-width: 800px)
      #photo, #video
        .topic-full
          padding: 0px

      #audio .topic-full
        flex-direction: column
        .audio-info
          width: 100%
          bottom-padding: 20px
        .archives
          width: 100vw
          .archive-player
            width: 80%

      #_3d .topic-full
        flex-direction: column
        align-items: center
        .info-3d
          padding-bottom: 20px
          width: 100%

        .slider-wrapper
          width: 400px
          height: 468px
          li iframe
            width: 400px
            height: 468px

      #front-end .topic-full
        .site-images a img
          width: 100%

    @media (max-width: 520px)
      #audio .topic-full
        padding: 0px
        .archives
          width: 100vw
          .archive-player
            width: 95vw

    @media (max-width: 400px)
      #_3d .topic-full .slider-wrapper
        width: 300px
        height: 372px
        li iframe
          width: 300px
          height: 372px

    @media (max-width: 380px)
      #audio .topic-full .archives
        align-items: center
        .archive-player
          border-radius: 0px
          padding: 0px
          width: 100%
