// Topic Specific Styles
.topics-container
  .topics
    .github-button button
      display: flex
      align-items: baseline
      min-width: 240px
      .fa
        float:left
      .label
        font-size: 1.4em
        line-height: 50%
        vertical-align: middle

    #back-end .topic-full
      background: rgba(255,255,255,0.75)
      color: #000
      .skills-list
        margin: 0px auto
      .projects-list
        margin: 0px auto

    #front-end .topic-full
      align-items: center
      flex-direction: column
      text-align: center
      .logos
        display: flex
        justify-content: center
        align-items: center
      .logo
        width: 15%
        height: 15%
      .responsive-pics
        display: flex
        justify-content: center
        align-items: center
        .mobile-pic
          width: 18%
          height: 18%
        .desktop-pic
          width: 75%
          height: 75%
        img
          margin: 10px
      .site-pic
        box-shadow: 0px 0px 5px #FFF
      .gulp-pics
        display: flex
        justify-content: center
        .mobile-pic
          width: auto
          height: 440px
        .desktop-pic
          width: auto
          height: 440px
        img
          margin: 10px
        .gulp-code-pic
          width: 30%
          height: 30%
        .gulp-logo
          height: 15%
        .gulp-tasks-pic
          width: 30%
          height: 30%
      .github-button
        display: flex
        justify-content: center
        button
          min-width: 355px
          font-size: 2em
          align-items: center

    #dev-ops .topic-full
      color: #000
      background: rgba(255,255,255,0.75)
      .skills-list
        margin: 0px auto
        li
          font-size: 1.2em
      .projects-list
        margin: 0px auto
        padding: 0px 10px
        li
          font-size: 1.2em
        .github-button button
          min-width: 292px

    #hardware .topic-full
      width: 100%
      background: rgba(255,255,255,0.75)
      color: #000
      padding: 20px
      .hardware-info
        text-align: center
        margin: auto
        .github-button
          display: flex
          justify-content: center

      .hardware-img
        float: right
        margin: 0px auto
        img
          max-height: 80vh
          max-width: 60vw

    #video .topic-full
      text-align: center
      color: black
      background: rgba(255,255,255,0.75)
      box-shadow: 2px 5px 5px black
      padding: 10px
      &.topic-expanded
        display: flex
        align-items: center
      .video-info
        padding: 10px 25px
        width: auto
        margin: auto
      .video-player
        iframe
          width: 720px
          height: 480px

    #audio .topic-full
      text-align: center
      color: #000
      background: rgba(255,255,255,0.75)
      &.topic-expanded
        display: flex
        align-items: center
      .audio-info
        width: 60%
        margin: 10px
        text-align: center
        margin: auto
        h1
          margin-top: 0px

      .archives
        display: flex
        flex-direction: column
        align-items: center
        width: 40%
        min-width: 320px
        .archive-player
          padding: 10px 20px
          width: 100%
          h3
            margin: 5px


    #_3d .topic-full
      color: black
      background: rgba(255,255,255,0.75)
      box-shadow: 2px 5px 5px black
      &.topic-expanded
        display: flex
        align-items: center
      .slider-wrapper
        width: 625px
        height: 652px
        overflow-y: hidden
        li
          display: flex
          align-items: center
          iframe
            width: 625px
            height: 652px
        .flexslider
          margin: 0px
      .info-3d
        display: flex
        align-items: center
        flex-direction: column
        text-align: center
        width: calc(100% - 400px)
        margin: 5px
        padding: 10px

    #photo .topic-full
      text-align: center
      &.topic-expanded
        display: flex
        align-items: center
      .gallery
        .slides
          button
            color: #000
        .slide
          display: none
          img
            max-width: 100%
            max-height: 95vh

    // responsive styles
    @media (max-width: 2000px)
      #_3d .topic-full .slider-wrapper
        width: 400px
        height: 468px
        li iframe
          width: 400px
          height: 468px

    @media (max-width: 1050px)
      #video .topic-full
        flex-direction: column
        .video-info
          width: 100%

    @media (max-width: 940px)
      #hardware .topic-full
        flex-direction: column

    @media (max-width: 800px)
      #photo, #video
        .topic-full
          padding: 0px
          .video-player
            iframe
              width: 480px
              height: 360px

      #audio .topic-full
        flex-direction: column
        .audio-info
          width: 100%
          padding: 20px 0px
        .archives
          width: 100%
          .archive-player
            width: 80%

      #_3d .topic-full
        flex-direction: column
        align-items: center
        .info-3d
          padding-bottom: 20px
          width: 100%

        .slider-wrapper
          width: 400px
          height: 468px
          li iframe
            width: 400px
            height: 468px

      #front-end .topic-full
        .site-images a img
          width: 100%

    @media (max-width: 660px)
      #back-end .topic-full
        flex-direction: column

      #dev-ops .topic-full
        flex-direction: column
        .projects-list .github-button button
          min-width: 200px
          font-size: 1.2em

    @media (max-width: 520px)
      #audio .topic-full .archives
        width: calc(100vw - 40px)
        .archive-player
          width: calc(95vw - 40px)

    @media (max-width: 400px)
      #_3d .topic-full .slider-wrapper
        width: 300px
        height: 372px
        li iframe
          width: 300px
          height: 372px

    @media (max-width: 380px)
      #audio .topic-full .archives
        align-items: center
        .archive-player
          border-radius: 0px
          padding: 0px
          width: 100%

      #front-end .topic-full .github-button button
        min-width: 240px
        font-size: 1.3em

      .github-button button
        min-width: 200px
        font-size: 0.8em

      #dev-ops .topic-full .projects-list .github-button button
        //font-size: 0.8em
