.topic-short
  p Art, Design
  p Prototyping, Printing
  p Blender, SketchUp, Maya, OpenSCAD
.topic-full
  .slider-wrapper
    .flexslider#3d-slider
      ul.slides
        li
          iframe(width="400" height="468" frameborder="0" allowfullscreen allowtransparency src="//www.shapeways.com/fragments/product?spin=NY6QEX65P")
        li
          iframe(width="400" height="468" frameborder="0" allowfullscreen allowtransparency src="//www.shapeways.com/fragments/product?spin=4AN8ZLYPX")
        li
          iframe(width="400" height="468" frameborder="0" allowfullscreen allowtransparency src="//www.shapeways.com/fragments/product?spin=XZUVGYF37")
        li
          iframe(width="400" height="468" frameborder="0" allowfullscreen allowtransparency src="//www.shapeways.com/fragments/product?spin=K4RR93EKR")
