.audio-info
  h1 Audio Production Skills Yeah!
  p Some info on my audio production skillset.
  p Note on past experience.
  p Call to action for button.

.archives
  .archive-player
    h3 CCRN Live from Frozen Dead Guy Days 2016
    p Here is a short blurb about this clip, explaining where and when it was from and my role in its creation.
    iframe(src="https://archive.org/embed/CCRN-TBB2015&playlist=1&list_height=200" width="100%" height="200" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen)

  .button
    a(href='https://archive.org/details/@skybfly')
      button More Recordings
