.topic-short
  p Live, Tracking, Mixing
  p Broadcast
  p Pro Tools, Audition, Audacity
.topic-full
  .archive-players
    .archive-content
      h1 CCRN Live from Frozen Dead Guy Days 2016
      iframe(src="https://archive.org/embed/LiveFDGD2016" width="800" height="30" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen)
    .archive-content
      h1 Moon Pistol (members of Gipsy Moon) at Blue Owl Books
      iframe(src="https://archive.org/embed/MoonPistolBlueOwl" width="800" height="30" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen)

  a(href='https://archive.org/details/@skybfly')
    button My Recordings Archives
