.audio-info
  h1 Audio Production Skills
  p With an comprehensive understanding of signal flow and equipment, as well as a well refined ear, 
    | I'm confident in my ability to create powerful sounding experiences.
  p I have run sound at venues in the Boulder area, including Shine, The Laughing Goat and The Caribou Room.
    | I worked as a Stage Manager at Frozen Dead Guy Days 2017. Comfortable in a studio environment as well, 
    | I have tracked, mixed and mastered content at Kodiak Lake Studios.
  p CCRN and Way High
  a(href="http://coloradocommunityradio.com/")
    button Learn More About CCRN

.archives
  .archive-player
    h3 Some examples of my work
    iframe(src="https://archive.org/embed/CCRN-TBB2015&playlist=1&list_height=200" width="100%" height="200" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen)

  .button
    a(href='https://archive.org/details/@skybfly')
      button More Recordings
