.skills-list
  h2 Stuff I've picked up long the way
  ul
    li Install and Configure Linux Servers
    li Linux Command Line, Cron Tab, Permissions
    li Create and Configure Digital Ocean Droplets
    li HTTPS with Lets Encrypt
    li
.projects-list
  h2 Some of my projects
  ul
    li
      a(href="//github.com/skyfly200/Radio-Control-System" target="_blank") Radio Control System
    li
      a(href="//github.com/skyfly200/Radio-Programming-Automation-in-Python" target="_blank") Radio Automation
    li
      a(href="//github.com/skyfly200/PythonProcessBabysitter" target="_blank") Process BabySitter

  a(href="//github.com/skyfly200" target="_blank")
    button
      span More projects on GitHub &nbsp;
      .fa.fa-github.fa-2x
