.site-list
  h2 This website represents my present skillset in front end design.
  h3 It utilizes modern tecnologies
  .logos
    img(src="/images/logos/JS.png").js-logo
    img(src="/images/logos/jquery.png").jquery-logo
    img(src="/images/logos/css3.png").css3-logo
    img(src="/images/logos/html5.png").html5-logo
    img(src="/images/logos/sass.png").sass-logo
    img(src="/images/logos/pug.png").pug-logo
  h3 Features Responsive Layouts
  .responsive-pics
    img(src="/images/Mobile.png").mobile-pic
    img(src="/images/Desktop.png").desktop-pic
  h3 Build tasks are managed with Gulp.
  p screen cap of gulp file
  h3 Tools are installed and managed through npm.
  p logos of node and npm
  a(href="")
    button View this sites progression on Github
