.site-list
  h3 Some sites I have worked on

.site-images
  ul
    li.site-image
      a(href= "//coloradocommunityradio.com/" target="_blank")
        img(src="images/ccrn-site.jpg" alt="Colorado Community Radio Network")
    li.site-image
      a(href= "//www.wayhighradio.com/" target="_blank")
        img(src="images/kwhr-site.jpg" alt="Way High Radio")
    li.site-image
      a(href= "//www.ruthwilsonartist.com/" target="_blank")
        img(src="images/ruth-site.jpg" alt="Ruth Wilson Watercolor Artist")
