.topic-short
  p HTML5, SASS, JS
  p jQuery, Jade, Bootstrap
  p Responsive Design
.topic-full
  .site-list
    h3 Some sites I have worked on
    ul
      li
        a(href= "//coloradocommunityradio.com/" target="_blank") Colorado Community Radio Network - 2015
      li
        a(href= "//www.wayhighradio.com/" target="_blank") Way High Radio - 2014
      li
        a(href= "//www.ruthwilsonartist.com/" target="_blank") Ruth Wilson Watercolor Artist - 2013
