.topic-short
  p Photoshop, Lightroom
.topic-full
  .gallery
    .flexslider#slider
      ul.slides
        li
          img(src="/images/bkgs/20140615_161556.jpg")
        li
          img(src="/images/bkgs/20140616_084526.jpg")
        li
          img(src="/images/bkgs/20140705_132704-d1.jpg")
        li
          img(src="/images/bkgs/20140729_175439.jpg")

    .flexslider#carousel
      ul.slides
        li
          img(src="/images/bkgs/20140615_161556.jpg")
        li
          img(src="/images/bkgs/20140616_084526.jpg")
        li
          img(src="/images/bkgs/20140705_132704-d1.jpg")
        li
          img(src="/images/bkgs/20140729_175439.jpg")
