.gallery
  .slides
    .slide
      img(src="/images/bkgs/20140615_161556.jpg")
    .slide
      img(src="/images/bkgs/20140616_084526.jpg")
    .slide
      img(src="/images/bkgs/20140705_132704-d1.jpg")
    .slide
      img(src="/images/bkgs/20140729_175439.jpg")
    button(onclick="plusDivs(-1)") &#10094;
    button(onclick="plusDivs(+1)") &#10095;
