.topic-short
  p Photoshop, Lightroom
.topic-full
  .gallery
    .flexslider#img-slider
      ul.slides
        li(data-thumb="/images/bkgs/20140615_161556.jpg")
          img(src="/images/bkgs/20140615_161556.jpg")
        li(data-thumb="/images/bkgs/20140616_084526.jpg")
          img(src="/images/bkgs/20140616_084526.jpg")
        li(data-thumb="/images/bkgs/20140705_132704-d1.jpg")
          img(src="/images/bkgs/20140705_132704-d1.jpg")
        li(data-thumb="/images/bkgs/20140729_175439.jpg")
          img(src="/images/bkgs/20140729_175439.jpg")
