.topic-short
  p Videography, Editing, Effects
  p Premiere, After Effects, Sony Vegas
.topic-full
  .videos
    .flexslider#video-slider
      ul.slides
        li
          iframe(id="player1", width="630", height="354", src="https://player.vimeo.com/video/121395958?color=ffffff&byline=0&portrait=0&api=1&player_id=player_1", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
        li
          iframe(id="player2", width="630", height="354", src="https://www.youtube.com/embed/tflcA9Anjoc?rel=0", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
        li
          iframe(id="player3", width="630", height="354", src="https://www.youtube.com/embed/gYpYreUpXYk?rel=0", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
        li
          iframe(id="player4", width="630", height="354", src="https://www.youtube.com/embed/AxLkKNhtkvs?rel=0", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
        li
          iframe(id="player5", width="630", height="354", src="https://www.youtube.com/embed/9o6mhFOJO5c?rel=0", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

    h2 Critters American Ninja Warior Entry
    h2 Terible Toxic 24D
    h2 Way High Promo
    h2 Dance Off
    h2 Happiness PSA
