.topic-short
  p Videography, Editing, Effects
  p Premiere, After Effects, Sony Vegas
.topic-full
  .slider-wrapper
    .flexslider#video-slider
      ul.slides
        li
          #js-youtube1
        li
          #js-youtube2
        li
          #js-youtube3
        li
          #js-youtube4
        li
          iframe(id="js-vimeo1" src="https://player.vimeo.com/video/121395958?autoplay=0&loop=1&title=0&byline=0&portrait=0&amp;player_id=js-vimeo1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
