.video-info
  h2 Here is a video I produced, for my friend Criter, to apply to American Ninja Warrior. 
  
.video-player
  iframe(src="https://www.youtube.com/embed/9o6mhFOJO5c?rel=0" frameborder="0" allowfullscreen)
