include views/mixins.pug

//- Html Document
doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
    
    title Skyler Fly - Blog
    
    // 3rd Party Styles
    link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="css/animate.css")
    link(rel="stylesheet", type="text/css", href="font-awesome.css")

  body
    .wrapper
      #app
          
    <!-- development version, includes helpful console warnings -->
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    // Include Webpack Bundled file
    script(src="blog.bundle.js")
    
