include views/mixins.pug

//- Html Document
doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
    
    title Skyler Fly Portfolio Site
    
    // 3rd Party Styles
    link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="css/animate.css")
    link(rel="stylesheet", type="text/css", href="font-awesome.css")
    
    // My Styles
    link(rel="stylesheet", href="style.css")


  body
    .wrapper
      include views/header.pug

      .content
        include views/welcome.pug
        include views/skills.pug
        include views/resume.pug
        include views/contact.pug

      include views/footer.pug

    // Webpack Bundled script file
    script(src="app.bundle.js")
