// Header Section
.header-wrapper
  .header
    .header-content
      .header-name
        h1 Skyler
        h1 &nbsp;Fly-Wilson

      .header-caption
        h2 Multidisciplinary Magic&nbsp;
          i.fa.fa-magic.fa-sm

      .header-statement
        h4 "Any sufficiently advanced technology is indistinguishable from magic"
        h5 Arthur C. Clarke

  a.scroll-hint(href="#welcome")
    i.fa.fa-angle-down.fa-3x
