// Vendor Scripts
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js') // jQuery

// JS Files to concatinate and minify
// 3rd Party Libraries
// WOW.js - run animations on scroll to show
script(src='js/wow.js')
// Froogaloop2 - Vimeo Player API
script(src="js/froogaloop2.js")
// FitVids - Responsive Video Plugin
script(src="js/jquery.fitvids.js")
// FlexSlider - Slider Plugin
script(src="js/jquery.flexslider.js")

// Slider Script
script(src="js/slider.js")
// Interaction Script
script(src="js/interact.js")

// My core script file
script(src="js/index.js")
