// Head Tag Contents

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")

title Portfolio Site Landing Mockup

link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css")

<!-- build:css css/style.min.css -->
link(rel="stylesheet" href="css/font-awesome.css")
link(rel="stylesheet", href="css/style.css")
<!-- endbuild -->

// favicon refresh
link(rel="icon", type="image/x-icon", href="favicon.ico?v=2")
