// Contact Info Section
.contact#contact
  .contact-block
    .contact-header.wow.fadeIn
      h1 Get in touch!
    .contact-info.wow.fadeIn
      a(href="mailto:skyler@skylerfly.com", target="_blank").contact-link.email
        h2 skyler@skylerfly.com
      a(href="tel:7203100607").contact-link.phone
        h2 (720) 310-0607
