//- Pug Mixins
mixin topic(name, icon, hash)
  div(id=hash).topic.wow
    .icon-box
      .topic-icon
        span.fa-stack.fa-3x
          i.fa.fa-circle.fa-stack-2x
          i(class=icon).fa.fa-stack-1x.fa-inverse
    .topic-title
      h2= name
    .topic-close
      a(href="#null")
        i.fa.fa-close.fa-2x
    .topic-content
      .topic-short
        block
      .topic-full

// Skills Section
.topics-container#skills
  .topics-header.wow.fadeIn
    .topics-heading
      h1 Explore my diverse range of skills
    .topics-hint
      h3 Select&nbsp;a&nbsp;topic to&nbsp;find&nbsp;out&nbsp;more!

  .topics#topics
    +topic("Back End", "fa-cogs", "back-end")
      p Python, PHP, JS, C
      p Node, Express, SQL
      p REST, Data Structures

    +topic("Front End", "fa-code", "front-end")
      p HTML5, CSS3, JS, jQuery
      p SASS, Jade, Bootstrap
      p Responsive Design

    +topic("Dev Ops", "fa-linux", "dev-ops")
      p Linux Admin, Terminal Skills
      p Apache, MySQL, FTP, SSH
      p Digital Ocean, Lets Encrypt

    +topic("Hardware", "fa-bolt", "hardware")
      p Sensing, Control, Automation
      p Arduino, RaspberryPi, WiFi
      p LEDs, Solar, Circuit Boards

    +topic("Video", "fa-film", "video")
      p Videography, Audio, Directing
      p Editing, Effects, Animation
      p Premiere, After Effects

    +topic("Audio", "fa-microphone", "audio")
      p Live, Tracking, Mixing
      p FM and Online Broadcasting
      p Pro Tools, Audition, Ableton

    +topic("3D Design", "fa-cube", "_3d")
      p Art, Design, Invention
      p Prototyping, Printing
      p Blender, SketchUp, Maya

    +topic("Photography", "fa-camera", "photo")
      p Perspective, Macro, Landscape
      p Lighting, Lenses, Techniques
      p Photoshop, Lightroom
