// Blog Preview Section
.blog-preview#blog-preview
  .call-to-action
    .message.wow.fadeIn
      h2 Follow my latest and greatest projects on my blog
    .action.wow.fadeInUp
      a(href="/blog").blog-button
        button.btn Explore My Blog
        
  .blog-block
    .post.wow.fadeIn
      .heading
        .title
          h2 Welcome to my new blog
        .tags
          p new, post, text, design, creative
        .datetime
          p Sep 30th 2018
      .body
        p text from the body of the most recent post previewed
      
