// Contact Info Section
.contact#contact
  .contact-block
    .contact-header.wow.fadeIn
      h1 Get in touch!
    .contact-info.wow.fadeIn
      a(href="mailto:skyler@skybfly.com", target="_blank").contact-link
        h2 skyler@skybfly.com
      a(href="tel:7203100607").contact-link
        h2 (720) 310-0607
