// Head Tag Contents

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")

title Portfolio Site Landing Mockup

link(rel="stylesheet", type="text/css", href="css/flexslider.css")

// 3rd Party Styles
link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
link(rel="stylesheet", type="text/css", href="css/font-awesome.css")
link(rel="stylesheet", type="text/css", href="css/animate.css")
// My Styles
link(rel="stylesheet", href="css/style.css")

// favicon refresh
link(rel="icon", type="image/x-icon", href="favicon.ico?v=2")
