// Header Section
.header-wrapper
  .header
    .header-content
      .header-name
        h1 Skyler
        h1 &nbsp;Fly-Wilson

      .header-caption
        h2 Developer &bull; Maker

      .header-statement
        h3 Website Under Development&nbsp;
        i.fa.fa-flask.fa-2x

  a.scroll-hint(href="#welcome")
    i.fa.fa-angle-down.fa-3x
