//- Pug Mixins
mixin topic(name, icon, hash)
  div(id=hash).topic.wow
    .icon-box
      .topic-icon
        span.fa-stack.fa-3x
          i.fa.fa-circle.fa-stack-2x
          i(class=icon).fa.fa-stack-1x.fa-inverse
    .topic-title
      h2= name
    .topic-close
      a(href="#null")
        i.fa.fa-close.fa-2x
    .topic-content
      .topic-short
        block
      .topic-full
