// Resume Download Section
.resume-download#resume
  .resume-header.wow.fadeInDown
    h1 Download my resume
  .resume-buttons.wow.fadeInUp
    a(href="https://docs.google.com/document/d/1NpkEJLsMyp3Em-c_rO5N1LxYCl2lYZD9UgD6RiLe34I/edit?usp=sharing", target="_blank")
      button.resume-btn.btn.btn-default.wow.zoomIn
        i.fa.fa-cogs &nbsp;
        .btn-text Software
    a(href="https://docs.google.com/document/d/1RzgoGHvK0u9oHzOGcWQXEAbtivAdLn18JsE62vjAFZ4/edit?usp=sharing", target="_blank")
      button.resume-btn.btn.btn-default.wow.zoomIn
        i.fa.fa-bolt &nbsp;
        .btn-text Hardware
    a(href="https://docs.google.com/document/d/1pYAzEMBY3qcLHO-PIjnMFbzRreHBrhAJpjGlJuXAM5I/edit?usp=sharing", target="_blank")
      button.resume-btn.btn.btn-default.wow.zoomIn
        i.fa.fa-film &nbsp;
        .btn-text Multimedia
