// Vendor Scripts
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js') // jQuery

// JS Files to concatinate and minify
<!-- build:js js/main.min.js -->
// 3rd Party Libraries
script(src='js/wow.js') // WOW.js - run animations on scroll to show
script(src="js/froogaloop2.js") // Froogaloop2 - Vimeo Player API
script(src="js/jquery.fitvids.js") // FitVids - Responsive Video Plugin
script(src="js/jquery.flexslider.js") // FlexSlider - Slider Plugin
// My Script file
script(type="text/javascript", src="/js/index.js")
<!-- endbuild -->
