// Skills Section
.topics-container#skills
  .topics-header.wow.fadeIn
    h1 Here is a selection
    h1 &nbsp;of my various
    h1 &nbsp;forms of work

  .topics#topics
    +topic("Back End", "fa-cogs", "back-end")
      p Python, PHP
      p MySQL, Apache
      p Memcache

    +topic("Front End", "fa-code", "front-end")
      p HTML5, SASS, JS
      p jQuery, Jade, Bootstrap
      p Responsive Design

    +topic("Dev Ops", "fa-linux", "dev-ops")
      p Linux, Shell, FTP
      p Apache, MySQL, Icecast
      p Digital Ocean, Lets Encrypt

    +topic("Hardware", "fa-bolt", "hardware")
      p Sensing, Control, Automation
      p Arduino(C/C++), RaspberryPi(Python)

    +topic("Video Production", "fa-film", "video")
      p Videography, Editing, Effects
      p Premiere, After Effects, Sony Vegas

    +topic("Audio Production", "fa-microphone", "audio")
      p Live, Tracking, Mixing
      p Broadcast
      p Pro Tools, Audition, Audacity

    +topic("3D Modeling", "fa-cube", "_3d")
      p Art, Design
      p Prototyping, Printing
      p Blender, SketchUp, Maya, OpenSCAD

    +topic("Photography", "fa-camera", "photo")
      p Photoshop, Lightroom
