// Skills Section
.topics-container#skills
  .topics-header.wow.fadeIn
    .topics-heading
      h1 Explore my diverse range of skills
    .topics-hint
      h3 Select&nbsp;a&nbsp;topic to&nbsp;find&nbsp;out&nbsp;more!

  .topics#topics
    +topic("Back End", "fa-cogs", "back-end")
      p Python, PHP, JS
      p Node, Express, SQL

    +topic("Front End", "fa-code", "front-end")
      p HTML5, CSS3, JS, jQuery
      p SASS, Jade, Bootstrap
      p Responsive Design

    +topic("Dev Ops", "fa-linux", "dev-ops")
      p Linux Admin, Terminal Skills
      p Apache, MySQL, FTP, SSH
      p Digital Ocean, Lets Encrypt

    +topic("Hardware", "fa-bolt", "hardware")
      p Sensing, Control, Automation
      p Arduino, RaspberryPi, PCBs

    +topic("Video Production", "fa-film", "video")
      p Videography, Audio, Production
      p Editing, Effects, Animation
      p Premiere, After Effects

    +topic("Audio Production", "fa-microphone", "audio")
      p Live, Tracking, Mixing
      p FM and Online Broadcasting
      p Pro Tools, Audition, Ableton

    +topic("3D Design", "fa-cube", "_3d")
      p Art, Design, Invention
      p Prototyping, Printing
      p Blender, SketchUp, Maya

    +topic("Photography", "fa-camera", "photo")
      p Lighting, Lenses, Exposure
      p Photoshop, Lightroom
