// Welcome Section
.welcome#welcome
  .welcome-block
    .welcome-content
      .welcome-heading.wow
        h2 Welcome
      .welcome-blurb.wow
        p I dabble in a diverse array of interests. Learning new things is a top priority for me.
        p Below I have distilled an array my most potent talents.
      .welcome-social.wow
        a(href="https://github.com/skyfly200", target="_blank").fa.fa-github.fa-2x
        a(href="http://codepen.io/skyfly200/", target="_blank").fa.fa-codepen.fa-2x
        a(href="https://www.linkedin.com/in/skyler-fly-wilson-38870986", target="_blank").fa.fa-linkedin.fa-2x
        a(href="mailto:skyler@skybfly.com", target="_blank").fa.fa-envelope.fa-2x

  .welcome-img.wow
    img(src="images/bio/waterfall.jpg" alt="A picture of me")
