// Welcome Section
.welcome#welcome
  .welcome-block
    .welcome-content
      .welcome-heading.wow
        h2 Welcome to my website!
      .welcome-blurb.wow
        p This site will serve as a porfolio to present some of my projects.
        p Im still working on adding more content so check back soon!
      .welcome-social.wow
        a(href="https://github.com/skyfly200", target="_blank").fa.fa-github.fa-2x
        a(href="http://codepen.io/skyfly200/", target="_blank").fa.fa-codepen.fa-2x
        a(href="https://www.linkedin.com/in/skyler-fly-wilson-38870986", target="_blank").fa.fa-linkedin.fa-2x
        a(href="mailto:skyler@skybfly.com", target="_blank").fa.fa-envelope.fa-2x

  .welcome-img.wow
    img(src="images/bio/waterfall.jpg" alt="A picture of Skyler")
